# Assignment_3

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df=pd.read_csv("IRIS.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
summary_stats = df.groupby('species').agg({'sepal_length': ['mean', 'median', 'min', 'max', 'std']})
# Rename columns for clarity
summary_stats.columns = ['Mean', 'Median', 'Minimum', 'Maximum', 'Standard Deviation']
print(summary_stats)

                  Mean  Median  Minimum  Maximum  Standard Deviation
species
Iris-setosa      5.006     5.0      4.3      5.8            0.352490
Iris-versicolor  5.936     5.9      4.9      7.0            0.516171
Iris-virginica   6.588     6.5      4.9      7.9            0.635880

In [13]:
# Filter data for each species
setosa_data = df[df['species'] == 'Iris-setosa']
versicolor_data = df[df['species'] == 'Iris-versicolor']
virginica_data = df[df['species'] == 'Iris-virginica']

# Display basic statistical details for each species
print("Setosa Statistical Details:")
print(setosa_data.describe())

print("\nVersicolor Statistical Details:")
print(versicolor_data.describe())

print("\nVirginica Statistical Details:")
print(virginica_data.describe())

Setosa Statistical Details:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Versicolor Statistical Details:
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Virginica Statistical Details:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000